#canvas {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid gray;
    background: black;
}

body {
    background:  darkblue;
    color: gray;
}

html,body {
    height: 100%;
    margin: 0;
   
}

h1 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-weight: normal;
}

span:hover {
    color: white;
}